
{{!-- Start of Review Section --}}
{{#if allreviews}}
<section class="section review-section pt-5 pb-5 bg-white">
    <div class="container">
            <h2 class="main-heading text-center mt-5 mb-5">Reviews</h2>
            <div class="slider slider-nav">
                {{#each allreviews}}
                <form method="POST" action="/admin/viewreview">
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">{{review}}</h5>
                        <p class="card-text">Rating : {{rating}} / 5</p>
                        <p class="card-text">Date : {{dateofReview}}</p>
                        <input id="reviewid" name="reviewid" type="text" value="{{review_id}}" class="form-control" hidden>
                        <button class="btn btn-danger" type="submit"><span class="material-icons">delete</span></button>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                </form>
                {{/each}}
            </div>
        </div>
    </div>
</section>
{{else}}
<section class="section review-section pt-5 pb-5">
    <div class="container">
        <h2 class="main-heading text-center mt-5 mb-5">Reviews are not available.</h2>
    </div>
</section>
{{/if}}
{{!-- End of Review Section --}}