{{#if data}}

{{!-- Profile Section --}}
<section class="section userprofile-section">
    <div class="container">
        <div class="user-banner-section">
            <div class="user-banner yellow-section-background"></div>
            <div class="row responsive-flexbox">
                <div class="col-sm-2">
                    <img src="/public/images/male-user.svg" class="user-profile-pic" alt="./public/images/trial-img.jpg" />
                    <img src="/public/images/male-user.svg" class="user-profile-pic" alt="./public/images/trial-img.jpg" hidden/>
                </div>
                <div class="col-sm-4 offset-md-1 mt-3">
                    <p class="user-icon fs-4 ms-lg-5 ps-lg-5"><span class="material-icons">person</span>{{data.firstName}} {{data.lastName}}</p>
                    <p class="user-icon fs-4 ms-lg-5 ps-lg-5"><span class="material-icons">home</span> {{data.City}}, {{data.State}}</p>
                </div>
                <div class="col-sm-4 offset-md-1 mt-3">
                    <p class="user-icon fs-4 ps-lg-5"><span class="material-icons">mail</span>{{data.email}}</p>
                    <p class="user-icon fs-4 ps-lg-5"><span class="material-icons">cake</span>{{data.DateOfBirth}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- End of Profile Section --}}
{{/if}}


{{!-- Start of Review Section --}}
<section class="section review-section pt-5 pb-5">
    <div class="container">
            <h2 class="main-heading text-center mt-5 mb-5">Reviews</h2>
            <div class="slider slider-nav">
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- End of Review Section --}}