{{#if data}}

{{!-- Profile Section --}}
<section class="section userprofile-section">
    <div class="container">
        <div class="user-banner-section">
            <div class="user-banner yellow-section-background"></div>
            <div class="row responsive-flexbox">
                <div class="col-sm-2">
                    <img src="/public/images/male-user.svg" class="user-profile-pic" alt="./public/images/trial-img.jpg" />
                    <img src="/public/images/male-user.svg" class="user-profile-pic" alt="./public/images/trial-img.jpg" hidden/>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-5 offset-lg-1 mt-3">
                    <p class="user-icon fs-5 ms-lg-5 ps-lg-4"><span class="material-icons">person</span>{{data.firstName}} {{data.lastName}}</p>
                    <p class="user-icon fs-5 ms-lg-5 ps-lg-4"><span class="material-icons">home</span> {{data.City}}, {{data.State}}</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mt-3">
                    <p class="user-icon fs-5 ps-lg-4"><span class="material-icons">mail</span>{{data.email}}</p>
                    <p class="user-icon fs-5 ps-lg-4"><span class="material-icons">cake</span>{{data.DateOfBirth}}</p>
                </div>
            </div>
        </div>

    </div>
</section>
{{!-- End of Profile Section --}}
{{/if}}

{{! orders of users}}


<section class="section admin-section">
  <div class="container">
    <div class="row">
        <h1 class="main-heading text-center mt-5 mb-5">User Orders</h1>
    </div>
    <div class="accordion-item mb-5">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
            User Orders
        </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body ">      
              <table class="table table-striped table-dark table-hover">
                <tr>
                  <th>Order Number</th>
                  <th>Order Date</th>
                  <th>View Details</th>
                  
                </tr>
                {{#each getOrder}}
                <tr>
                  <td>#{{order_id}}</td>
                  <td>{{date}}</td>
                  <td>
                    <form method="post" action="./orderDetails">
                      <input type="text" name="orderid" value="{{order_id}}" hidden>
                      <button class="btn btn-success" type="submit"><span class='material-icons'>Details</span></button>
                    </form>
                  </td>
                </tr>
                {{/each}}
              </table> 
            </div>
        </div>
    </div>
  </div>
</section>

{{! orders of users}}


{{!-- Start of Review Section --}}
<section class="section review-section pt-5 pb-5">
    <div class="container">
            <h2 class="main-heading text-center mt-5 mb-5">Reviews</h2>
            <div class="slider slider-nav">
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Rating is 5.0/5.0</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- End of Review Section --}}